<script type="text/javascript" charset="utf-8" src="resources/js/signup.js"></script>
<h1>Create Your Account</h1>
<h2>Signup is easy and only takes a few seconds.</h2>

<div class="formWrapper">
    <div class="formError"></div>
    <div class="inputWrapper">
      <div class="inputLabel">First Name</div>
      <input type="text" id="firstName" placeholder="John" />
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">Last Name</div>
      <input type="text" id="lastName" placeholder="Smith" />
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">Email</div>
      <input type="text" id="email" placeholder="john.smith@abc.com" />
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">Choose a Password</div>
      <input type="password" id="password" placeholder="Make it a good one!" />
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">Re-enter Password</div>
      <input type="password" id="repassword" placeholder="Make sure you re-type carefully" />
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">Address</div>
      <textarea id="address" rows=5 cols=50>
        
      </textarea>
    </div>
    <div class="inputWrapper ctaWrapper">
      <button type="submit" id="btn_signup" class="cta green">Get Started</button>
    </div>
</div>
